*~
*.obj
*.o
*.so
*.dylib
*.lib
*.exp
*.dll
*.manifest
protobufs.tex
protobufspl.tex
protobufsoverview.tex
config.h
config.h.in
config.status
config.log
configure
protobufs.html
protobufs.pdf
Makefile
autom4te.cache
.pl-history
