*~
*.obj
*.o
*.so
*.dylib
*.dSYM
*.lib
*.exp
*.ilk
*.pdb
*.dll
*.manifest
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
protobufs.tex
protobufspl.tex
protobufsoverview.tex
config.h
config.h.in
config.status
config.log
configure
protobufs.html
protobufs.pdf
autom4te.cache
.pl-history
__pycache__
some_message.wire
some_message_pb2.py
TAGS
*.pb.cc
*.pb.h
*_pb2.py
*.wire
*.o
